annotated-types==0.7.0
anyio==4.4.0
cachetools==5.5.0
certifi==2024.9.30
charset-normalizer==3.3.3
click==8.2.0
fastapi==0.115.0
google-ai-generativelanguage==0.6.7
google-api-core==2.20.0
google-api-python-client==2.144.0
google-auth==2.35.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.0
googleapis-common-protos==1.66.0
grpcio==1.67.0
grpcio-status==1.63.0
h11==0.15.0
httplib2==0.23.0
idna==3.9
pillow==10.5.0
proto-plus==1.25.0
protobuf==4.26.0
pyasn1==0.7.0
pyasn1_modules==0.5.0
pydantic==2.9.0
pydantic_core==2.21.0
pyparsing==3.2.0
python-dotenv==1.1.0
requests==2.34.0
rsa==4.10
sniffio==1.4.0
starlette==0.39.0
tqdm==4.67.0
typing_extensions==4.13.0
uritemplate==4.2.0
urllib3==2.3.0
uvicorn==0.31.0